//手风琴样式
@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.test-a {
  margin: 15px 0 0 0;
}

.cardNameArea {
  border: 3px solid red;
  margin: 15px 0 0 15px;
}