//手风琴样式
@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.test-a {
  margin: 45px 0 0 0;
}

.test-b {
  margin: 45px 0 0 0;
  background-image: linear-gradient(#6495ED,wheat);
}

